{
    "debug": {
        "token":    "DEBUGTOKEN_HERE",
        "dblToken": "DBLTOKEN",
        "prefix":   "5",
        "dbFile":   "membercounter.sqlite3.db",
        "supportGuild":""
    },
    "token":    "Discord_Token",
    "dblToken": "DBLTOKEN",
    "prefix":   "%",
    "dbFile":   "membercounter.sqlite3.db",
    "supportGuild":""
}
